<% provide(:title, "#{current_user.name}") %>

<article class="entry style-grid style-hero hero-sm-largest type-post col-sm-12 col-md-8 col-lg-8 col-xl-6 colheight-sm-1 colheight-md-2 colheight-lg-2 colheight-xl-2">
	<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
		<%= link_to "Hola #{current_user.name}", user_path(current_user) %>
	</div>
</article>

<%= render 'layouts/nav_user_menu' %>