<% provide(:title, "Editar Clase") %>

<div class="boton_der">
	<div class="top_buttons">
		<a href=<%= "/groups/#{@group.id}?lecture=#{@lecture.id}" %>>
			<p><button type="button" class="btn btn-info">Regresar a la Clase</button></p>
		</a>
	</div>
	<h1>Editar Clase<span class="line"></span></h1>
</div>

<%= render "/lectures/form" %>
<div class="boton_der">
	<%= link_factory( :_path=> group_lecture_path(@group, @lecture), :_text=> "Borrar Clase", :_alert=> 'Esta clase cuenta con actividades y/o asistencias. No se puede borrar.', :_button=>true, :_destroy => true, :_class=>'btn btn-danger' ) %>
</div>
