<% provide(:title, "Editar Clase") %>

<div class="boton_der">
	<div class="top_buttons">
		<a href=<%= "/groups/#{@group.id}?lecture=#{@lecture.id}" %>>
			<p><button type="button" class="btn btn-info">Regresar a la Clase</button></p>
		</a>
	</div>
	<h1>Editar Clase<span class="line"></span></h1>
</div>

<%= render "/lectures/form" %>
<div class="boton_der">
	<%= link_to group_lecture_path(@group, @lecture), method: :delete, data: { confirm: "¿Estás Seguro?" } do %>
		<p><button type="button" class="btn btn-danger">Borrar Clase</button></td></p>
	<% end %>
</div>