<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mauricio Carranza</title>
</head>
	<body style="background-color:#000000;">
		<table style="width: 800px; margin: 0 auto; height: 10px; color: white; font-family: Arial, Helvetica, sans-serif; text-align: left;">
			<tr>
				<td style="width: 200px; height:100px;">
					<a href="http://mauriciocarranza.com/">
						<img src="http://mauriciocarranza.com/assets/logo_mc.png" alt="">
					</a>
				</td>
			</tr>
			</tr>
				<td><br></td>
			<tr>
			</tr>
				<td style="color: #EF7F22;">NOMBRE:</td>
			<tr>
			<tr>
				<td><%= @name %></td>
			</tr>
			</tr>
				<td style="color: #EF7F22;">EMAIL:</td>
			<tr>
			<tr>
				<td><%= @mail %></td>
			</tr>
			</tr>
				<td style="color: #EF7F22;">MENSAJE:</td>
			<tr>
			<tr>
				<td>Tienes clase mañana recuérdalo</td>
			</tr>
		</table>
	</body>
</html>