<a href="/families/status/<%= @family.id %>" data-remote="true">
	<% if @family.status %>
		<button type="button" class="btn status_button btn-success btn-xs">ACTIVA</button>
	<% else %>
		<button type="button" class="btn status_button btn-danger btn-xs">PASIVA</button>
	<% end %>
</a>