<% provide(:title, 'Nueva Familia') %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => families_path, :_text =>'Regresar a Familias', :_class => 'btn btn-info', :_button => true ) %>
	</div>
	<h1>Nueva Familia<span class="line"></span></h1>
</div>

<%= render 'families/form' %>