<% provide(:title, "Editar Grupo") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to groups_path do %>
			<p><button type="button" class="btn btn-info">Regresar a los Grupos</button></p>
		<% end %>
	</div>
	<h1>Editar Grupo<span class="line"></span></h1>
</div>

<%= render 'groups/form' %>

<% if(@group.can_destroy?) %>
	<div class="boton_der">
		<%= link_to @group, method: :delete, data: { confirm: "¿Estás Seguro?" } do %>
			<p><button type="button" class="btn btn-danger">Borrar Grupo</button></p>
		<% end %>
	</div>
<% end %>