<% provide(:title, "Nuevo Grupo") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => groups_path, :_text => 'Regresar a los Grupos', :_class => "btn btn-info", :_button => true ) %>
	</div>
	<h1>Nuevo Grupo<span class="line"></span></h1>
</div>

<%= render 'groups/form' %>