<% provide(:title, "Nuevo Grupo") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to groups_path do %>
			<p><button type="button" class="btn btn-info">Regresar a los Grupos</button></p>
		<% end %>
	</div>
	<h1>Nuevo Grupo<span class="line"></span></h1>
</div>

<%= render 'groups/form' %>