<% provide(:title, "Generar Clases") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( group_path(@group), 'Volver al Grupo', 'btn btn-info', true, false ) %>
	</div>
	<h1>Generar Clases<span class="line"></span></h1>
</div>

<%= render 'calendars/form' %>