<div class="modal fade" id="lesson_objective_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Objetivo de clase</h4>
			</div>
			<%= form_tag("/program_relations/objective/#{@lesson.id}", :method => "get", remote: true ) do %>
			<div class="modal-body">
				<%= text_area_tag "objective", @lesson.objective, :class => "form-control", placeholder: "Escribe el objetivo" %>
			</div>
			<div class="modal-footer">
				<%= submit_tag "Guardar Cambios", :class => "btn btn-default" %>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			</div>
			<% end %>
		</div>
	</div>
</div>