<% provide(:title, "Editar contacto de la Familia: #{@family.name}") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( @family, 'Regresar a Familia', 'btn btn-info', true, false ) %>
	</div>
	<h1>Editar contacto de la Familia: <%= @family.name %><span class="line"></span></h1>
</div>

<%= render "addresses/form" %>