<div id="comments" class="comments-area indented">
    <h4 class="comments-title">Comments</h4> 
    <ol class="media-list comment-list">
        <li class="media comment">
            <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
            <div class="media-body">
                <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
            </div>
            <ol class="media-list">
                <li class="media comment">
                    <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
                    <div class="media-body">
                        <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata"> on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                        <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                    </div>
                </li>
                <li class="media comment">
                    <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
                    <div class="media-body">
                        <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata"> on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                        <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                    </div>
                    <ol class="media-list">
                        <li class="media comment">
                            <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
                            <div class="media-body">
                                <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                                <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                            </div>
                        </li>
                        <li class="media comment">
                            <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
                            <div class="media-body">
                                <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                                <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="media comment">
            <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
            <div class="media-body">
                <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
            </div>
        </li>
        <li class="media comment">
            <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">
            <div class="media-body">
                <h4 class="media-heading author-vcard"> <cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> <span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span> </h4> 
                <p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
            </div>
        </li>
    </ol>
    <div id="respond" class="comments-respond">
        <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3> 
        <form action="#" class="form-inline row" method="post" id="commentform">
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="sr-only" for="inputName">Name</label>
                <input class="form-control" id="inputName" name="author" type="text" value="" aria-required="true" placeholder="Your Name">
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="sr-only" for="inputEmail">Email</label>
                <input class="form-control" id="inputEmail" name="author" type="text" value="" aria-required="true" placeholder="Your Email">
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="sr-only" for="inputWebsite">Website</label>
                <input class="form-control" id="inputWebsite" name="author" type="text" value="" aria-required="true" placeholder="Your Website">
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <label class="sr-only" for="inputMessage">Message</label>
                <textarea class="form-control" id="inputMessage" name="message" rows="8" aria-required="true" placeholder="Your Message"></textarea>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <button class="btn btn-primary" name="submit" id="submit">Send Message</button>
            </div>
        </form>
    </div>
</div>