<% @posts = Post.where(status: true).order('id DESC').limit(3) %>
<% if @posts.count > 0 %>
	<div id="container_tags_discussion">
		<aside class="widget">
			<h2 class="widget-title ribbon"><span>Publicaciones recientes</span></h2>
			<div class="entries row">
				<% @posts.each do |post| %>
					<article class="type-post style-media-list media col-sm-6 col-md-12">
						<!-- to disable lazy loading, remove data-src and data-src-retina -->
						<img src="/assets/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">
						<!--fallback for no javascript browsers-->
						<noscript>
						<img src="http://placehold.it/80x80" alt="">
						</noscript>
						<div class="media-body">
							<h3  class="entry-title">
								<%= link_to post.text.slice(0..60), post_path(post) %>
							</h3>
							<div class="entry-meta">
								<span class="entry-date"><a href="blog.html">del <time datetime="<%= post.created_at %>"><%= post.created_at %></time></a></span>
								<span class="category">en <%= link_to post.post_type.name.downcase, post_type_path(post.post_type) %></span>
							</div>
						</div>
					</article>
				<% end %>
			</div>
		</aside>
	</div>
<% end %>