<aside class="widget">
	<h3 class="widget-title ribbon"><span>Latest Discussion</span></h3>
	<ul class="entries">
		<li class="entry style-recent-list type-post">
			<span class="comments-count-balloon">900</span>
			<a href="single.html" rel="bookmark" class="entry-title">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		</li>
	</ul>
</aside>