<aside class="widget">
	<h3 class="widget-title ribbon"><span>Special Coverage</span></h3>
	<ul class="entries coverageList aligncenter">
		<li><a href="blog.html">#xPhone launch event</a></li>
	</ul>
</aside>