<aside class="widget">
	<h3 class="widget-title ribbon"><span>Tags</span></h3>
	<div class="tagcloud">
		<% q = @post?(@post.tags):(Tag.all) %>
		<% q.each do |tag| %>
			<%= link_to "#{tag.name}", tag_posts_path(tag.name) %>
		<% end %>
	</div>
</aside>