<aside class="widget">
	<h3 class="widget-title ribbon"><span>Tags</span></h3>
	<div class="tagcloud">
		<% Tag.all.order('name ASC').each do |tag| %>
			<a href='<%= "#{tag.name}" %>'><%= "#{tag.name.downcase}" %></a>
		<% end %>
	</div>
</aside>