/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Group view */
#container_lectures{
	height: 700px;
	overflow: hidden;
}
#lectures_dates {
	width: 20%;
	height: 600px;
	overflow-y: scroll;
	float: left;
}
#refresh_lecture_info {
	width: 80%;
	float: left;
	height: 600px;
	overflow-y: scroll;
	padding: 0px 20px 20px 20px;
}
/*Default to user*/
#image_url{
	width: 100px;
}