@import "bootstrap";

/* mixins, variables, etc. */

$grayDarker: #222222;
$grayLight: #999999;
$grayMediumLight: #eaeaea;
$morado: #81519C;
$morado_obscuro: #73488b;
$morado_claro:#d3c0de;
$verde:#71c06b;
$verde_obscuro:#60b959;
$negro_opaco:#444444;
$rojo:#D9534F;
$rojo_obscuro:#D43F3A;
$naranja:#F0AD4E;
$naranja_obscuro:#EEA236;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

 .navbar-fixed-top{
	background-color: $negro_opaco;
	background-image: none;
	border-color: $verde;
  border-bottom-width:5px;
}

.navbar .navbar-right > li > a {
  color: white;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  text-indent: 19px;
  background-position: 6px 14px;
  &:hover {
    color: white;
    background-color: #73488b;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
    width: 160px;
    height: 50px;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $morado_obscuro;
  color: #ffffff;
}
a, a:visited, a:hover, a:focus, .btn-link:hover, .btn-link:focus { text-decoration: none; }

/* Botones */

.boton_der {
  float: right;
  margin-left:8px;
}

.boton_der p {
  float: right;
  margin-left: 8px;
}

.blue_box .boton_der p{
  float: right;
  margin-left: 8px;
  position: relative;
  top: 11px;
}

.boton_izq {
  float: left;
  margin-right:8px;
}

.btn-default {
    background-color:$verde;
    border-color:$verde;
    color: #ffffff;
  &:hover {
    background-color: $verde_obscuro;
    border-color: $verde_obscuro;
    color: #ffffff;
  }
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #71c06b;
    border-color: #71c06b;
  }

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: $verde_obscuro;
  border-color: $verde_obscuro;
}
.dropdown-toggle span{
  position: relative;
  float: left;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 5px;
  top: -8px;
}
.families_icon { background-image: url(/assets/families.svg); }
.groups_icon{ background-image: url(/assets/groups.svg); }
.account_icon{ background-image: url(/assets/account.svg); }

/*.families_icon:hover{ background-image: url(/assets/families_hover.svg); }
.groups_icon:hover{ background-image: url(/assets/groups_hover.svg); }
.account_icon:hover{ background-image: url(/assets/account_hover.svg); }*/

.btn-default:active,
.btn-default.active {
  color: #ffffff;
  background-color: $verde_obscuro;
  border-color: $verde_obscuro;
}

.btn-default a{
  color: white;
}

.btn-info {
  background-color:$morado;
  border-color:$morado;
  &:hover {
    background-color:$morado_obscuro;
    border-color:$morado_obscuro;
  }
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: white;
  background-color: $morado_obscuro;
  border-color: $morado_obscuro;
}

.btn-info a{
  color: white;
}

.btn-danger {
    background-color:$rojo;
    border-color:$rojo;
  &:hover {
    background-color: $rojo_obscuro;
    border-color: $rojo_obscuro;
  }
}
.glyphicon-remove{ color:$rojo; }
.glyphicon-remove:hover{ color:$rojo_obscuro; }
.btn-danger a{
  color: white;
}


.btn-warning {
    background-color:$naranja;
    border-color:$naranja;
  &:hover {
    background-color: $naranja_obscuro;
    border-color: $naranja_obscuro;
  }
}

.btn-warning a{
  color: white;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h6 {
  width: 100%;
  top: 10px;
  text-align: center;
  color: #ada9a9;
  position: relative;
  float: left;
  margin: 0;
}

span.line {
  background: $morado;
  display: block;
  width: 95px;
  height: 4px;
  margin: 7px 0 0 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


h1 {
  color: #6c6c6c;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 1px solid #747474;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  clear:both;
}

h3 {
  color: $grayLight;
  font-size: 1.5em;
  letter-spacing: -2px;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 1px solid #747474;
}

h4{
  color: #928C8C;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Forms */

input {

}

/* header */

#logo {
  float: left;
}
/* footer */

footer {
  margin-top: 60px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  clear:both;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.boton_der {
  float: right;
  margin-left: 8px;
  width: 100%;
  z-index: 9;
  position: relative;
}
.clear { clear: both; }

/* Table */

.td_center { text-align: center; }
.td_left { text-align: left; }
/* Group show */

.panel-primary {
  border: 4px solid rgba(0, 0, 0, 0);
  position: relative;
  top: 0px;
  margin: 0;
}

#new_class_icon{ float: right; }
.big_button{
  cursor: pointer;
  width: 49%;
  background: #f1f1f1;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 1);
  color: #107BD8;
  float: left;
}

.big_button span{
  font-size: 21px;
  position: relative;
  top: 5px;
  left: -8px;
}
.big_button:hover{
  color: #0088FF;
  background-color: #EBEBEB;
}

.container_big_buttons {
  position: relative;
  float: left;
  margin: 0;
  width: 100%;
  top: 15px;
  margin-bottom: 30px;
}

.group_info {
  padding:10px, 10px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 4px;
  text-align: center;
}

.group_info > li {
  display:inline-block;
  padding: 4px 15px;
}

.group_info > li > strong{
  padding: 0px 5px;
}

/* Group select */
.date_selector{ display: inline-block; }
.datetime label, .person_family_roll label, #selector_fecha label{
  width: 100%;
  clear: both;
}
.hour_select{
  position: relative;
  top: 105px;
}
.date_selector:nth-child(1){ width: auto; }

.date_selector:nth-child(2){ width: 80px; }
.date_selector:nth-child(3){ width: 150px; }
.date_selector:nth-child(4){ width: 100px; }
.date_selector:nth-child(5),
.date_selector:nth-child(6){
  margin-top: 35px;
  width: 65px;
}
.time_selector{ height: 40px; }
.time_select{
  display: none;
  width: 65px;
  margin-bottom: 5px;
}
.kid_up_photo{
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
}
#posibble_childs .child_spot, #posible_attendances .child_spot{
  margin: 3px;
  height: 50px;
  width: 264px;
}
.child_attendance, .child_spot {
  width: 102px;
  height: 120px;
  float: left;
  position: relative;
}
.child_result{
  opacity: 0;
  top: 30px;
}
.child_attendance {
  overflow: hidden;
  cursor: pointer;
  width: 74px;
  height: 100px;
  margin: 2px;
  text-align: center;
}
.child_attendance .kid_up_photo{
  width: 70px;
}
.child_attendance_over {
  width: 100%;
  height: 100%;
  background: rgba(238, 162, 54, 0.6);
  position: absolute;
  text-align: center;
  font-size: 22px;
  color: #0087FC;
  display: none;
}
.child_attendance_over span{
  position: relative;
  top: 47px;
}
.child_remove {
  position: absolute;
  top: 2px;
  right: 3px;
}
.child_selected {
  background-color: rgba(6, 30, 51, 0.78);
  position: absolute;
  width: 214px;
  height: 50px;
  display: none;
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 9;
  left: 50px;
  top: 0px;
}
.child_appended{ margin: 3px; }
.child_appended, .child_selected span{
  top: 25px;
  opacity: 0;
}
#posible_attendances .child_selector,
.child_active .child_selected{ display: block; }
#posibble_childs .child_active{ display: none; }

#posible_attendances .kid_stats p, #posibble_childs .kid_stats p {
  font-size: 12px;
  width: 100%;
  height: 5px;
  position: relative;
  top: 8px;
}

.all_width {
  width: 100%;
  float: left;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d7dfe6;
}
.spacer{
  float: left;
  width: 100%;
  height: 15px;
}
#attendances{ overflow: hidden; }
#scroll_attendances {
  height: 230px;
  width: 100%;
  position: relative;
  float: left;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #d7dfe6;
  padding: 10px;
}
#enlist_childs .kid_stats, #attendances .kid_stats {
  color: black;
  text-shadow: none;
  overflow: hidden;
  bottom: -3px;
  height: 20px;
  background: none;
  text-align: center;
  text-transform: uppercase;
}
.kid_stats {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  text-indent: 5px;
}
#posibble_childs .kid_stats, #posible_attendances .kid_stats {
  width: 200px;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: #EFF2F5;
  font-size: 12px;
  left: 50px;
  border-radius: 0px 2px 2px 0px;
  color: #428bca;
  text-indent: 10px;
  border-bottom: 1px solid #EAF5FF;
  border-top: 1px solid #E8EAEC;
}
.weeks_stat {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0px;
  font-size: 10px;
  right: 0px;
  text-align: center;
  background: #E8EDF1;
  z-index: 9;
  padding: 5px;
}
.weeks_stat span {
  font-size: 30px;
  position: relative;
  margin: 0;
  padding: 0;
  top: 5px;
}
.kid_stats p {
  font-size: 12px;
  width: 100%;
  height: 5px;
}
.child_selector{ position: relative; }
#enlist_childs .child_selector, #posibble_childs .child_selector{ display: none; }
#alert_notice{ display: none; }
/*Error>>simple form*/
.error{
  color: #b94a48;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  margin-top: 5px;
}
.field_with_errors label{
  color: #b94a48;
}
.field_with_errors .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/**/
.pagination {
  float: left;
  margin: 10px 0 0 0;
  position: relative;
}
.large_scroll{ position: relative; }
.navbar-default .navbar-nav > .dropdown > a .caret{
  margin-left: 8px;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret{
  color: #ffffff;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:focus .caret{
  color: #ffffff;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

#exercises_container_table {
  height: 244px;
  overflow: hidden;
}

#exercises_container_table .white_box{min-height: 100%; }
.dropdown-menu{ margin-top: 4px; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: $morado;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/*Popup people*/
.observation_container{
  width: 100%;
  float: left;
  margin: 5px;
}

/*Crop photo*/
#mini_photo{
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}
#photo_container{
  position: relative;
  margin: 0 auto;
  width: 565px;
}
#crop_title {
  position: absolute;
  width: 445px;
  top: 20px;
  left: 90px;
}
/*Remove attendances*/
.remove {
  width: 16px;
  height: 16px;
  background-image: url(/assets/close.png);
  position: absolute;
  z-index: 9;
  right: -8px;
  top: -6px;
}