.payment_concept_id{
	width: 200px;
	float: left;
	margin-right: 15px;
}
#new_concept {
	position: absolute;
	right: 0;
	top: 27px;
}
#payment_concept_id{
	position: absolute;
	width: 200px;
}
#new_concept_container{
	position: relative;
	float: left;
	width: 100%;
	height: 68px;
}