#error_success {
	text-align: center;
}
#add_lectures_to_day{
	display: none;
}
#days_selector{
	top: 90px;
	height: 240px;
}
#program_relations{
	height: 240px;
	overflow: hidden;
	float: left;
}
.modal-sm{
	width: 400px;
}
#program_relations .day {
	width: 109px;
	float: left;
	text-align: left;
	color: rgb(177, 177, 177);
	left: 10px;
	position: relative;
	top: 2px;
}
#program_relations .hours {
	text-align: right;
	width: 100px;
	float: left;
	text-indent: 17px;
	color: rgb(0, 0, 0);
	line-height: 40px;
}
.reorder-item {
	width: 110px;
	height: 110px;
	float: left;
	margin: 3px;
	position: relative;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	text-align: center;
}
.reorder-active{
	background-color: #D1E1E5;
}
.reorder-item:hover{
	background: #ECF4F7;
}
.reorder-highlight{
	width: 110px;
	height: 110px;
	float: left;
	margin: 3px;
	position: relative;
	border-radius: 5px;
	background: #ECF4F7;
	border: 1px dotted #C2C2C2;
	text-align: center;
}
.number_of_activities {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 13px;
	left: 0;
	color: #428bca !important;
}
.number_of_activities:hover{ color: #2a6496!important; }
.order_day {
	width: 90%;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 5px;
	font-size: 18px;
	text-align: center;
	text-indent: 4px;
	color: #377592;
}
.day_subtitle{
	position: absolute;
	width: 40%;
	left: 50%;
	top: 40px;
	font-size: 12px;
	text-align: left;
}
#close_reorder{
	position: absolute;
	right: 5px;
	top: 20px;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 13px;
	border-radius: 2px;
	font-size: 13px;
}
.remove_day {
	opacity: 0;
	position: absolute;
	right: -4px;
	top: -4px;
	background: #DCF1F5;
	width: 13px;
	text-align: center;
	height: 14px;
	border-radius: 2px;
	font-size: 10px;
	line-height: 12px;
	z-index: 9;
}
.remove_day:hover{
	color: white!important;
	background: rgb(214, 69, 69);
}
#reorder-days{
	position: relative;
	width: 100%;
	float: left;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#reorder-days { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#reorder-days li {
	padding: 0;
	list-style-type: none;
	list-style: none;
	cursor: move;
	margin: 3px;
	float: left;
	width: 101px;
	height: 50px;
	text-align: center;
}
#container_orders{
	padding: 2px;
}
.program_relations_points {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #d6dce0;
	height: 10px;
}
#disable_admin, #save_admin{ display: none; }
.program_relation_point {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #377592;
	margin: 2px;
	top: -5px;
	position: relative;
	display: inline-block;
}
.exercise_relation_point {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #377592;
	display: inline-block;
	margin: 2px;
	top: 1px;
	position: relative;
	margin-left: 7px;
}
#program_relation_actions {
	position: absolute;
	right: 0;
	top: 9px;
}
#add_objective{
	position: absolute;
	right: 45px;
	top: -27px;
}
#add_objective_to_lecture {
	position: absolute;
	right: 90px;
	top: 3px;
}
#add_observation{
	position: absolute;
	right: 108px;
	top: -27px;
}
#add_objective_admin {
	position: absolute;
	right: 47px;
	top: -27px;
}
#add_observation_admin {
	position: absolute;
	right: 107px;
	top: -27px;
}
#remove_lecture_admin {
	position: absolute;
	right: 76px;
	bottom: -13px;
	z-index: 99;
}
#remove_lecture_modal h4, #errors_lecture_modal h4 {
	text-align: left;
	color: #595959;
	font-size: 18px;
}
#remove_lecture_container .modal-header{
	background-color: #EEEEEE;
	border-radius: 5px 5px 0px 0px;
}
#container_refresh_programs_relations{
	position: relative;
	height: 372px;
	display: none;
}
#edit_lecture_admin{
	position: absolute;
	bottom: -13px;
	right: 26px;
}
#container_program_relations .light_box{
	padding: 0px 20px 5px 20px;
}
#delete_lecture_button {
	display: none;
}
#remove_lecture_modal h6 {
	margin-bottom: 10px;
	position: relative;
	top: -5px;
	text-align: left;
	color: red;
}
.arrows-move-exercises{
	width: 30px;
	margin: 0;
	padding: 0!important;
}
.arrow-asc {
	cursor: pointer;
	width: 35px;
	height: 19px;
	background-image: url(/assets/desc.gif);
	position: relative;
	background-repeat: no-repeat;
	background-position: 6px 13px;
	opacity: 0.6;
}
.arrow-asc:hover{ background-position: 6px 11px; }
.arrow-desc {
	cursor: pointer;
	width: 35px;
	height: 19px;
	position: relative;
	background-repeat: no-repeat;
	background-image: url(/assets/asc.gif);
	background-position: 7px 2px;
	opacity: 0.6;
}
.arrow-desc:hover{ background-position: 7px 4px; }