<% if @exercise.lectures.include?(@lecture) %>
	<button type="button" class="btn status_button btn-danger btn-xs">DESAGREGAR</button>
<% else %>
	<button type="button" class="btn status_button btn-success btn-xs">AGREGAR</button>
<% end %>