<% provide(:title, 'Nuevo Ejercicio') %>

<div class="boton_der">
	<div class="top_buttons">
		<% if @group && @lecture %>
			<%= link_factory( :_path => group_lecture_exercises_path(@group, @lecture), :_text =>'Regresar a Ejercicios', :_class => 'btn btn-info', :_button => true ) %>
		<% else %>
			<%= link_factory( :_path =>exercises_path, :_text =>'Regresar a Ejercicios', :_class => 'btn btn-info', :_button => true ) %>
		<% end %>
	</div>
	<h1>Nuevo Ejercicio<span class="line"></span></h1>
</div>

<%= render 'exercises/form' %>