<% provide(:title, 'Nuevo Ejercicio') %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to :back do %>
			<p><button type="button" class="btn btn-info">Regresar a Ejercicios</button></p>
		<% end %>
	</div>
	<h1>Nuevo Ejercicio<span class="line"></span></h1>
</div>

<%= render 'exercises/form' %>