<footer class="footer container">
  <small>
    <a href="http://codealab.mx/" target="_blank">
		<p class="credits" style="font-size: 11px;">
			Página desarrollada por:
			<img src="/assets/codealab.png" alt="xodealab.mx" style="width: 100px; position: relative; left: 10px; top: -1px; ">
		</p>
	</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://deceroatres.org/">deceroatres.org</a></li>
    </ul>
  </nav>
</footer>